[client]
default-character-set = utf8mb4

[mariadb]
log_error             = /app/log/mariadb.err

[mariadbd]
collation-server      = utf8mb4_unicode_ci
character-set-server  = utf8mb4
init-connect          = 'SET NAMES utf8mb4'
log_error             = /app/log/mariadb.err
